<!DOCTYPE html>
<html lang="<%= I18n.locale %>" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <title>
        <% if @title %>
            <%=@title%> - <%= site_name %>
            <meta property="og:title" content="<%=@title%> - <%= site_name %>" />
        <% else %>
            <%= site_name %> - <%= _('Make and browse Freedom of Information (FOI) requests') %>
            <meta property="og:title" content="<%= site_name %> - <%= _('Make and browse Freedom of Information (FOI) requests') %>" />
        <% end %>
        </title>

        <meta property="og:type" content="website" />
        <meta property="og:image" content="http://www.tuderechoasaber.es/tuderechoasaber-theme/images/logo_cuadrado.png" />

        <link rel="shortcut icon" href="/tuderechoasaber-theme/images/favicon.gif">

        <%= render :partial => 'general/stylesheet_includes' %>
        <% if is_admin? %>
          <%= stylesheet_link_tag "/admin/stylesheets/admin", :title => "Main", :rel => "stylesheet" %>
        <% end %>

        <%= javascript_include_tag 'jquery.js', 'jquery-ui.min','jquery.cookie.js', 'general.js' %>     
        <% if @profile_photo_javascript %>
            <script type="text/javascript" src="/javascripts/jquery.Jcrop.js"></script>
            <script type="text/javascript" src="/javascripts/profile_photo.js"></script>
            <link rel="stylesheet" href="/stylesheets/jquery.Jcrop.css" type="text/css" >
        <% end %>  

        <% if @feed_autodetect %>
            <% for feed in @feed_autodetect %>
                <link rel="alternate" type="application/atom+xml" title="<%=h feed[:title] %>" href="<%=h feed[:url]%>">
                <% if feed[:has_json] %>
                    <link rel="alternate" type="application/json" title="JSON version of <%=h feed[:title] %>" href="<%=h feed[:url]%>.json">
                <% end %>
            <% end %>
        <% end %>
        <% if @has_json %>
            <link rel="alternate" type="application/json" title="JSON version of this page" href="<%=h url_for(request.params.merge(:format => 'json')) %>">
        <% end %>

        <% if @no_crawl %>
            <meta name="robots" content="noindex, nofollow">
        <% end %>

        <%= render :partial => 'general/before_head_end' %>
    </head>
    <body class="<%= 'front' if params[:action] == 'frontpage' %>">

    <div class="ribbon">
      <%= link_to _("¡Colabora con nosotros!"), help_help_out_path %>
    </div>

<% if is_admin? %>
  <%= render :partial => 'admin_general/admin_navbar' %>
<% end %>
<% popup_banner = render(:partial => "general/popup_banner").strip %>
<% if popup_banner.present? %>
<div id="everypage" class="jshide">
  <p class="popup-close"><a href="#top" onclick="$.cookie('seen_foi2', 1, { expires: 7, path: '/' }); $('#everypage').hide('slow'); return false;"><%= _('Close') %></a></p>
  <%= raw popup_banner %>
  <p class="popup-close"><a href="#top" onclick="$.cookie('seen_foi2', 1, { expires: 7, path: '/' }); $('#everypage').hide('slow'); return false;"><%= _('Close') %></a></p>
</div>
<% end %>

<div class="entirebody">
    <div id="banner">
      <div id="banner_inner">
        <div class="lang"><%= render :partial => 'general/locale_switcher' %></div>
        
        <% if not (controller.action_name == 'signin' or controller.action_name == 'signup') %>
          <div id="logged_in_bar">
          <% if @user %>
              <%= _('Hello, {{username}}!', :username => h(@user.name))%>

                <% if @user %>
                    <%=link_to _("My requests"), show_user_requests_path(:url_name => @user.url_name) %>
                    <%=link_to _("My profile"), show_user_profile_path(:url_name => @user.url_name) %>
                <% end %>


              <%= link_to _("Sign out"), signout_url(:r => request.fullpath) %>
          <% else %>
              <%= link_to _("Sign in or sign up"), signin_url(:r => request.fullpath) %>
          <% end %>
          </div>
        <% end %>   

        <div id="navigation_search">
            <%= form_tag({:controller => "general", :action => "search_redirect"}, {:id => "navigation_search_form"}) do %>
               <p>
                   <%= text_field_tag 'query', params[:query], { :size => 40, :id => "navigation_search_query" } %>
                   <%= image_submit_tag('search-button.png') %>
               </p>
            <% end %>
        </div>
        
        <%= render :partial => 'general/orglink' %>
        
        <%= render :partial => 'general/topnav' %>
      </div>
    </div>
    <div id="wrapper">
        <div id="content">
            <% if flash[:notice] %>
                <div id="notice"><%= flash[:notice] %></div>
            <% end %>
            <% if flash[:error] %>
                <div id="error"><%= flash[:error] %></div>
            <% end %>

            <div id="<%= controller.controller_name + "_" + controller.action_name %>" class="controller_<%= controller.controller_name %>">
            <%= yield :layout %>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>

    <%= render :partial => 'general/footer' %>

</div>
<div id="other-country-notice"></div>
<div id="link_box"><span class="close-button">X</span>
<%= _("Paste this link into emails, tweets, and anywhere else:") %>
<br />
<input type="text">
</div>
    <%
      unless AlaveteliConfiguration::ga_code.empty? || (@user && @user.super?) %>
        <script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
          var pageTracker = _gat._getTracker("<%= AlaveteliConfiguration::ga_code %>");
          pageTracker._trackPageview();
        </script>

      <% end %>

      <%= render :partial => 'general/before_body_end' %>
    </body>
</html>

