<footer>
  <div class="content">
    <div class="row">
      <div class="col-md-3">
        <h3><%= _("Un proyecto de") %></h3>
        <nav>
          <ul>
            <li>
              <a href="http://www.datauy.org/">
                <img src="/quesabes-theme/images/datauy.png" alt="Data UY logo">
              </a>
            </li>
            <li>
              <a href="http://www.cainfo.org.uy/">
                <img src="/quesabes-theme/images/cainfo_logo.png" alt="Cainfo logo">
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-md-3">
        <h3>Contacto</h3>
        <nav>
          <ul>
            <li><%= link_to _("Contacto"), help_contact_path %></li>
            <li><%= link_to _("Prensa"), help_press_path %></li>
            <li><%= link_to _("Quiénes somos"), help_about_path %></li>
            <li><%= link_to _("¿Cómo puedes colaborar?"), help_help_out_path %></li>
            <li><%= link_to _("Patrocinadores"), help_about_path(:anchor => 'supporters') %></li>
            <li><%= link_to _("Agradecimientos"), help_credits_path %></li>
          </ul>
        </nav>
      </div>

      <div class="col-md-3">
        <h3>Ayuda</h3>
        <nav>
          <ul>
            <li><%= link_to _("Contacto"), help_contact_path %></li>
            <li><%= link_to _("Prensa"), help_press_path %></li>
            <li><%= link_to _("Quiénes somos"), help_about_path %></li>
            <li><%= link_to _("¿Cómo puedes colaborar?"), help_help_out_path %></li>
            <li><%= link_to _("Patrocinadores"), help_about_path(:anchor => 'supporters') %></li>
            <li><%= link_to _("Agradecimientos"), help_credits_path %></li>
          </ul>
        </nav>

      </div>
    </div>
    <div id="footer-sub">
	    <div id="footer-sub-inner">
	      <%= link_to image_tag("/quesabes-theme/images/cc_by_sa.png"), help_requesting_path(:anchor => 'making_requests') %>
        <%= link_to _("Condiciones de uso"), help_terms_of_use_path %>
        <%= link_to _("Política de privacidad"), help_privacy_policy_path %>
	    </div>
    </div>
  </div>
</footer>
