<% if @user %>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      <% if @user.profile_photo %>
        <div class="b-image-rounded">
          <img src="<%= get_profile_photo_url(:url_name => @user.url_name) %>" alt="" width="25" height="25">
        </div>
      <% end %>
      ¡Hola <b><%= @user.name %></b>!
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation">
        <%=link_to _("My profile"), show_user_profile_path(:url_name => @user.url_name), html_options = {tabindex: -1, role: "menuItem"} %>
      </li>
      <li role="presentation">
        <%=link_to _("My requests"), show_user_requests_path(:url_name => @user.url_name), html_options = {tabindex: -1, role: "menuItem"} %>
      </li>
      <li role="presentation">
        <%= link_to _("Sign out"), signout_url(), html_options = {tabindex: -1, role: "menuItem"} %>
      </li>
    </ul>
  </div>
<% else %>
  <ul class="submenu">
    <li class="start-now-button">
      <%= link_to( _("Empezar ahora"), body_index_path, class: 'rounded rounded-active')%>
    </li>
    <li>
      <%= link_to _("Ingresar o registrarse"), signin_path, class: 'rounded' %>
    </li>
    </ul>
<% end %>
