<h1><%= _("¿Querés información sobre un organismo público?") %></h1>
<small>Es muy simple:</small>
<div class="steps">
  <div class="step">
    <img src="/quesabes-theme/images/icon1.png">
    <p><%= _("Elegí el organismo y formulá tu pregunta") %></p>

    <div class="number">
      <p>1</p>
    </div>
  </div>

  <div class="step">
    <img src="/quesabes-theme/images/icon3.png">
    <p><%= _("El sistema le da formato y envía tu consulta") %></p>
    <div class="number">
      <p>2</p>
    </div>
  </div>

  <div class="step">
    <img src="/quesabes-theme/images/icon2.png">
    <p><%= _("La respuesta llega a vos y queda registrada") %></p>
    <div class="number">
      <p>3</p>
    </div>
  </div>

  <p>
    <small>Organismos como:</small><br>
    Presidencia y Org. Asociados
  </p>

</div>
<a class="rounded big" href="#">Comenzar ahora</a>
<a style="width:100%" class="slink" href="#">Conoce más acerca de
  QuéSabés?</a>
</div>
</div>
</div>
<!--Header ends here-->

<!--Main content starts here-->
<div class="maincontent">
  <div id="search">
    <div class="content">
      <%= form_tag({:controller => "general", :action => "search_redirect"}, {:id => "navigation_search_form"}) do %>
      <div class="input rounded">
        <%= text_field_tag 'query', params[:query], { :size => 40, :id => "navigation_search_query", placeholder: "Ejemplo: Salario anual del Presidente de la República" } %>
        <input class="submit" type="submit" value="Buscar pedido">
        <% end %>
      </div>
      <p>First, type in the name of the UK public authority you'd like information from. By law, they have to respond <a href="#">(why?)</a>.</p>
    </div>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <section>
          <div class="headline">
            <h2><%= _("Novedades") %></h2>
            <a href="<%= blog_url %>" class="link">Mas novedades</a>
          </div>

          <% position = 0
             for item in @blog_items[0..3]
               position = position + 1 %>
            <article>
              <figure>
                <% if item.has_key?('thumbnail') %>
                  <img src="<%= ((item['thumbnail'])[0])['url']%>" width="278" height="128"/>
                <% else %>
                  <img src="/quesabes-theme/images/posts/novedades.png" width="278" height="128"/>
                <% end %>
              </figure>
              <h1>
                <a href='<%= item['link'][0] %>' target="_blank">
                  <%= h item['title'][0] %>
                </a>
              </h1>
              <% if item.has_key?('thumbnail') %>
                <img src="<%= ((item['thumbnail'])[0])['url']%>" width="278" height="128"/>
              <% else %>
                <img src="/quesabes-theme/images/posts/novedades.png" width="278" height="128"/>
              <% end %>
              <h4>
                <a href='<%= item['link'][0] %>' target="_blank"><%= h item['title'][0] %></a>
              </h4>
              <p>
                <a href="<%= "#{blog_url}\##{Time.parse(item['pubDate'][0]).to_i}"%>">
                  <%= _("Leer más »") %>
                </a>
              </p>
            </article>
          <% end %>
        </section>
      </div>

      <div class="col-md-4">
        <aside>
          <div class="headline">
            <h2><%= _("Peticiones destacadas") %></h2>
            <a class="link" href="#">ver todas</a>
          </div>
          <% @featured_requests.each do |featured_request| %>
          <%= render :partial => 'track/tracking_request_links',
                                   :locals => {
                                   :track_thing => TrackThing.create_track_for_request(featured_request),
                                   :own_request => featured_request.user == @user,
                                   :location => "frontpage"
                                   }
          %>
          <% end %>
        </aside>
	    </div>
    </div>
  </div>
</div>
