<% if !@display_user.get_about_me_for_html_display.empty? || @is_you %>
<p class="txtdesc">
  <%= @display_user.get_about_me_for_html_display %>
  <% if @is_you %>
    (<%= link_to _("edit text about you"), set_profile_about_me_path %>)
  <% end %>
</p>
<% end %>

<% if @is_you %>
  <div class="buttons">
    <% if @display_user.profile_photo %>
      <%= link_to _('Change profile photo'), set_profile_photo_path, html_options = {class: "rounded"} %>
    <% end %>
    <%= link_to _('Change your password'), edit_password_change_path, html_options = {class: "rounded"}  %>
    <%= link_to _('Change your email'), signchangeemail_path, html_options = {class: "rounded"}  %>
  </div>
<% end %>
