<div id="forgotpassword" class="maincontent page">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <% @title = _('Change your password on {{site_name}}', site_name: site_name) %>

          <%= form_tag({action: "signchangepassword"}, {id: "signchangepassword_form"}) do %>
            <%= foi_error_messages_for :signchangepassword %>
            <h1><%= _('Change your password on {{site_name}}', site_name: site_name) %></h1>

            <p>
              <%= _(' <strong>Note:</strong>
    We will send you an email. Follow the instructions in it to change
    your password.').gsub(".", "<br>").html_safe%>
            </p>

            <div class="input">
              <label for="signchangepassword_email"><%= _('Your e-mail:')%></label>
              <%= text_field 'signchangepassword', 'email', { size: 20, type: 'email' } %>
            </p>

            <%= hidden_field_tag 'submitted_signchangepassword_send_confirm', 1 %>
            <%= hidden_field_tag 'pretoken', params[:pretoken] %>
            <%= submit_tag( _('Submit'), { class: 'rounded' }) %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
