<div class="col-md-4">
  <aside>
    <div class="item">
      <h4>
        <%= link_to_unless_current _("Ayuda"), help_about_path %>
      </h4>
      <ul>
        <li><%= link_to _("Sobre el proyecto"), help_about_path(:anchor => 'about') %></li>
        <li><%= link_to _("Historia y antecedentes"), help_about_path(:anchor => 'history') %></li>
        <li><%= link_to _("¿Cómo funciona?"), help_about_path(:anchor => 'how') %></li>
        <li><%= link_to _("DATA Uruguay"), help_about_path(:anchor => 'data') %></li>
        <li><%= link_to _("CAinfo"), help_about_path(:anchor => 'cainfo') %></li>
      </ul>
    </div>

    <div class="item">
      <h4>
        <%= link_to_unless_current _("Preguntas frecuentes"), help_requesting_path %>
      </h4>

      <ul>
        <li><%= link_to _("¿Tengo derecho a hacer un pedido de información?"), help_requesting_path(:anchor => '1') %></li>
        <li><%= link_to _("¿A quién puedo hacer un pedido?"), help_requesting_path(:anchor => 'missing_body') %></li>
        <li><%= link_to _("¿Qué información puedo pedir?"), help_requesting_path(:anchor => '3') %></li>
        <li><%= link_to _("¿Me pueden negar información?"), help_requesting_path(:anchor => '4') %></li>
        <li><%= link_to _("¿Qué puedo hacer si me niegan información o no recibo respuesta?"), help_requesting_path(:anchor => '5') %></li>
        <li><%= link_to _("¿Cuánto tarda y qué debo esperar de la respuesta?"), help_requesting_path(:anchor => 'quickly_response') %></li>
        <li><%= link_to _("¿Qué tiene que tener una buena solicitud?"), help_requesting_path(:anchor => 'focused') %></li>
        <li><%= link_to _("¿Qué pasa si no sé a qué organismo dirigirme?"), help_requesting_path(:anchor => '8') %></li>
        <li><%= link_to _("¿Puedo enviar la misma solicitud a distintos lugares?"), help_requesting_path(:anchor => '9') %></li>
        <li><%= link_to _("¿Puedo pedir información sobre mí mismo?"), help_requesting_path(:anchor => 'data_protection') %></li>
        <li><%= link_to _("¿Tengo que pagar por solicitar información?"), help_requesting_path(:anchor => '11') %></li>
        <li><%= link_to _("¿Puedo reutilizar la información recibida?"), help_requesting_path(:anchor => '12') %></li>
        <li><%= link_to _("¿Quién puede ver mis datos personales?"), help_requesting_path(:anchor => '13') %></li>
        <li><%= link_to _("¿Me van a mandar spam?"), help_requesting_path(:anchor => '14') %></li>
        <li><%= link_to _("¿Puedo solicitar información usando un seudónimo?"), help_requesting_path(:anchor => '15') %></li>
        <li><%= link_to _("¿Pueden eliminar mi solicitud o modificar mi nombre?"), help_requesting_path(:anchor => '16') %></li>
        <li><%= link_to _("¿Pueden eliminar información privada relativa a mi persona?"), help_requesting_path(:anchor => '17') %></li>
      </ul>
    </div>

    <div class="item">
      <h4>
        <%= link_to_unless_current _("Información para organismos públicos"), help_officers_path %>
      </h4>
      <ul>
        <li><%= link_to _("¿Por qué se publican las respuestas a las solicitudes de información?"), help_officers_path(:anchor => '1') %></li>
        <li><%= link_to _("¿Las personas que realizan solicitudes son reales?"), help_officers_path(:anchor => '2') %></li>
        <li><%= link_to _("¡Me están mandando demasiadas solicitudes!"), help_officers_path(:anchor => '3') %></li>
        <li><%= link_to _("¡Veo una solicitud a mi organismo en ¿Qué Sabés? pero nunca nos llegó!"), help_officers_path(:anchor => 'spam_problems') %></li>
        <li><%= link_to _("¿Cómo calculan la fecha límite que aparece en la página de peticiones?"), help_officers_path(:anchor => 'days') %></li>
        <li><%= link_to _("¿Cómo respondo a la solicitud?"), help_officers_path(:anchor => '6') %></li>
        <li><%= link_to _("¿Cómo puedo enviar un archivo grande que no puede ir por email?"), help_officers_path(:anchor => '7') %></li>
        <li><%= link_to _("¿Cómo le hago saber a quien solicita información que debe pasar por la oficina a retirar las copias? ¿ Que pasa si no puedo enviarlos en formato digital?"), help_officers_path(:anchor => '8') %></li>
        <li><%= link_to _("¿Publican las direcciones de correo o teléfonos?"), help_officers_path(:anchor => 'mobiles') %></li>
      </ul>
    </div>

    <div class="item">
      <h5><%= link_to_unless_current _("Basado en Alaveteli"), help_alaveteli_path %></h5>
      <h5><%= link_to_unless_current _("API para programadores"), help_api_path %></h5>
      <h5><%= link_to_unless_current _("Agradecimientos"), help_credits_path %></h5>
    </div>

    <div class="item">
      <h4><%= _("Contáctanos") %></h4>
      <p><%= _("Si tu pregunta no está resuelta aquí, o quieres hacernos llegar algún comentario sobre la web, ") %></p>
        <%= link_to _('contáctanos'), help_contact_path %>.
    </div>
  </aside>
</div>

