<% @title = "Información para desarrolladores" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1><%=@title %></h1>

    <h2 id="1">API</h2>
    <p>¿Qué Sabés? no tiene un API completo pero sí funciones que semejan en el uso a un API.</p>

    <h2 id="2">Enlaces a nuevas solicitudes</h2>
      <p>Para ir directo al formulario de envío de una solicitud en un organismo específico, las URLs deben tener éste formato:</p>
      <blockquote>
        <%= link_to new_request_to_body_url(:url_name => "nombre_de_organismo") , new_request_to_body_url(:url_name => "nombre_de_organismo") %>
      </blockquote>
      <p>Y se le pueden añadir siguientes los parámetros en la URL en sí o desde un formulario:</p>
      <ul>
          <li> <strong>title</strong> - título predefinido de la nueva solicitud.</li>
          <li> <strong>default_letter</strong> - texto predefinido del cuerpo de la carta. La formula de encabezamiento (Querido...) y la despedida (Un saludo...) se añadirán al comienzo y al final.</li>
          <li> <strong>body</strong> - en alternativa a default_letter esto pone como predefinido el texto entero de la solicitud dejándote la posibilidad de personalizar el saludo y la despedida.</li>
          <li> <strong>tags</strong> - lista de etiquetas separadas con espacios, para que puedas buscar y enlazar posteriormente a las solicitudes realizadas, p.ej. <em>openlylocal spending_id:12345</em>. Los dos puntos (:) indican que la etiqueta contiene un valor ('machine tag'), que puede incluir puntos.</li>
      </ul>

    <h2 id="3">Feeds RSS (en realidad, Atom)</h2>
    <p>En la mayoría de las páginas que incluyen solicitudes de acceso a la información hay feeds Atom que se pueden usar para obtener actualizaciones y enlaces en formato XML. Se puede encontrar el URL del feed Atom con una de las siguientes opciones:</p>
    <ul>
        <li>Buscar <img src="/assets/feed-16.png" alt=""/> enlazando al feed RSS.</li>
        <li>Examinar la declaración <tt>&lt;link rel="alternate" type="application/atom+xml"&gt;</tt> en la cabecera del código HTML.</li>
        <li>Añadir <tt>/feed</tt> al final de la URL.</li>
    </ul>

      <p>En particular, incluso las búsquedas avanzadas soportan feeds en formato Atom. Puedes hacer todo tipo de cosa con este formato, como consultas por autoridad, por tipo de archivo, por fecha o por estado. Para más detalles ver los <%= link_to 'consejos de la búsqueda avanzada', advanced_search_path %>.</p>

    <h2 id="4">Datos estructurados en JSON</h2>
    <p>Muchas páginas tienen una versión JSON que permite bajar información sobre los objetos en una forma estructurada. Para encontrarlos:</p>
      <ul>
          <li>Añadí <tt>.json</tt> al final de la URL.</li>
          <li>Buscá la declaración <tt>&lt;link rel="alternate" type="application/json"&gt;</tt> en la cabecera del código HTML. </li>
      </ul>

      <p>Solicitudes, usuarios y autoridades, todos tienen una versión JSON con información básica sobre ellos. Cada formato Atom tiene un equivalente JSON con información sobre los objetos incluidos en el feed.</p>

    <h2 id="5">Información sobre todos los organismos en ¿Qué Sabés?</h2>
    <p>Un archivo CSV con información sobre todos los organismos de Uruguay está disponible en el sitio: <%= link_to "all-authorities.csv", all_public_bodies_csv_url() %>
    </p>

  <p>Por favor <a href="/help/contact">contáctanos</a> si necesitas funcionalidad en el API que todavía no esté.</p>

  <div id="hash_link_padding"></div>
</div>

