<% @title = "Información para organismos públicos" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Información para organismos públicos</h1>

    <h2 id="1">¿Por qué se publican las respuestas a las solicitudes de información?</h2>
    <p>Se trata de información pública y creemos que su disponibilidad es beneficiosa para las personas, además de que tiene el potencial de reducir pedidos de información similares o duplicados. El estar disponible en ¿Qué Sabés? esa información que en otro caso quedaría accesible sólo para el solicitante puede ser encontrada incluso a través de buscadores web.</p>

    <h2 id="2">¿Las personas que realizan solicitudes son reales?</h2>
    <p>Hacemos todo lo posible para que así sea y es una condición del uso del sitio. Antes de poder enviar una solicitud, los usuarios deben registrarse aportando un correo que verificamos y demás datos exigidos por la <a href="http://www.impo.com.uy/informacionpublica">Ley 18.381</a>. Hasta la fecha no hemos tenido ningún pedido que no fuera real. Tampoco hemos detectado abuso por parte de los usuarios de esta plataforma.</p>
    <p>Para hacer seguimiento individual de las solicitudes, el sistema genera direcciones de correo electrónico únicas para cada pedido. Es por eso que la dirección de contacto de la que llegan las solicitudes tiene nuestra URL y un hilo de caracteres para su identificación.</p>

    <h2 id="3">¡Me están mandando demasiadas solicitudes!</h2>
    <p>Es importante aclarar que nosotros no enviamos las solicitudes, sino que son los usuarios, a través de la herramienta. En tanto las solicitudes reflejen un interés genuino en información del organismo, no interpondremos obstáculos, pero es importante aclarar que  establecemos un límite diario a los usuarios para prevenir el abuso y que estamos a disposición de los organismos ante casos de abuso o mala fé.</p>

    <h2 id="spam_problems">¡Veo una solicitud a mi organismo en ¿Qué Sabés? pero nunca nos llegó!</h2>
    <p>Si una solicitud aparece en el sitio, el correo fue enviado a la dirección que tenemos del organismo. Cualquier mensaje de error en la recepción aparecerá automáticamente en el hilo del pedido. A veces las peticiones son bloqueadas por los filtros de spam, que se puede prevenir agregando a ¿Qué SAbés? entre los remitentes autorizados de éstos filtros.</p>
    <p>En caso de que no haya mensajes de error, recomendamos comprobar la dirección de contacto del organismo usando el enlace "Ver dirección de e-mail" que aparece en la página de cada institución. En caso de querer modificarla agradecemos <%= link_to 'ponerse en contacto con nosotros', help_contact_path %>. Recordamos que tomamos todas las direcciones posibles de la lista de referentes proporcionada por la UAIP, en caso de que tu organismo no tenga un referente ante UAIP sugerimos ese paso en primer lugar, que es más sostenible a largo plazo.</p>
    <p>En todo caso, podemos reenviar el correo de la solicitud realizada a su organismo y/o darle detalles técnicos de la entrega.</p>

    <h2 id="days">¿Cómo calculan la fecha límite que aparece en la página de peticiones?</h2>
    <p>Calculamos 20 días hábiles desde el envío de la solicitud, como se establece en el artículo 15 de la <a href="http://www0.parlamento.gub.uy/leyes/AccesoTextoLey.asp?Ley=18381#art15">Ley 18.381</a>. Si por algún feriado u otra eventualidad cree que una solicitud ha quedado clasificada de forma errónea automáticamente, <%= link_to 'contactanos', help_contact_path %> para solucionarlo.</p>

    <h2 id="6">¿Cómo respondo a la solicitud?</h2>
    <p>Respondiendo al correo de manera normal. Las respuestas quedarán disponibles en ¿Qué Sabés? y se le harán llegar al usuario. Por dudas más generales sobre cómo responder a un pedido de acceso, se puede ver en <a href="http://www.agesic.gub.uy/innovaportal/file/549/1/Capitulo_4_Normativa_v1_0.pdf">este enlace</a> una guía provista por <a href="http://www.agesic.gub.uy/">AGESIC</a>.</p>

    <h2 id="7">¿Cómo puedo enviar un archivo grande que no puede ir por email?</h2>
    <p><%= link_to 'Contactate con nosotros', help_contact_path %> para ayudarte, o enviá un enlace para su descarga.</p>

    <h2 id="8">¿Cómo le hago saber a quien solicita información que debe pasar por la oficina a retirar las copias? ¿ Que pasa si no puedo enviarlos en formato digital?</h2>
    <p>Algunas oficinas optan por notificar al interesado en su oficina. Esta práctica obliga a la persona a trasladarse físicamente al lugar, lo cuál  no siempre es posible (ni deseable). <%= link_to 'Contactate con nosotros', help_contact_path %> para explorar formas alternativas para la entrega de información si no es posible hacerlo de manera digital.</p>

    <h2 id="mobiles">¿Publican las direcciones de correo o teléfonos?</h2>
    <p>Para prevenir el spam, intentamos eliminar automáticamente todas las direcciones de correo y posibles números de teléfono de las respuestas. Por favor, <%= link_to 'contactanos', help_contact_path %> si no logramos retirar alguna. Por razones técnicas no siempre podemos eliminarlos de los archivos adjuntos, así como de algunos documentos en PDF.</p>
</div>
